// Styling for the download section
section.contact {

    color: black;
    background: $theme-fourth;
    background: -webkit-linear-gradient(to left, $theme-fourth, $theme-fifth);
    background: linear-gradient(to left, $theme-fourth, $theme-fifth); 
 

    text-align: center;
    h2 {
        margin-top: 0;
        margin-bottom: 25px;
        i {
            color: $brand-google-plus;
        }
    }

    .badges {
        .badge-link {
            display: block;
            margin-bottom: 25px;
            &:last-child {
                margin-bottom: 0;
            }
            img {
                height: 60px;
            }
            @media(min-width: 768px) {
                display: inline-block;
                margin-bottom: 0;
            }
        }
    }
    @media(min-width: 768px) {
        h2 {
            font-size: 50px;
        }
    }
}
