// Styling for the call to action section
section.cta {
    position: relative;

    width: 100%;
    padding-top: 250px;
    padding-bottom: 300px;

    color: white;
    background: -webkit-linear-gradient(to left, $theme-sixth, $theme-seventh);
    background: linear-gradient(to left, $theme-sixth, $theme-seventh);
 
    @media (min-width: 768px) {
      h2 {
        font-size: 50px;
        max-width: 450px;
        margin-top: 0;
        margin-bottom: 25px;
        color: white;
     }
      p {
        color: fade-out(white, 0.2);
        font-size: 18px;
      }
    }
}
