.highlight .hll { background-color: }
.highlight  { background: }
.highlight .o { color: #322E2E} /* Operator */
.highlight .p { color: #322E2E} /* Operator */
.highlight .kn { color: #322E2E; font-weight: bold } /* Keyword.Namespace */
.highlight .nc { color: #C8C8C8; font-weight: bold } /* Name.Class */
.highlight .nf { color: #322E2E} /* Name.Function */
.highlight .nl { color: #002070; font-weight: italic } /* Name.Label */
.highlight .no { color: $theme-secondary; font-weight: italic } /* Name.Label */
.highlight .nn { color: #C8C8C8; font-weight: bold } /* Name.Namespace */
.highlight .nv { color: #C8C8C8} /* Name.Variable */
